---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';

const posts = await getCollection('blog');
---

<Layout>
	<Welcome />
	<h1>Blog</h1>
	{
		posts.map((post) => (
			<a href={`/blog/${post.id}`}>
				<h2>{post.data.title}</h2>
			</a>
		))
	}
</Layout>
