---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import PhotoGallery from '../components/PhotoGallery.astro';

const posts = await getCollection('blog');
---

<Layout>
	<h1>Blog</h1>
	{
		posts.map((post) => (
			<a href={`/blog/${post.id}`}>
				<h2>{post.data.title}</h2>
			</a>
		))
	}
	<h1>Photos</h1>
	<PhotoGallery server:defer />
</Layout>
